body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav{
  display: flex;
  flex-direction: column;
  max-width: 20em;
  margin-left: 10px;
  font-family: 'Fira Sans', sans-serif;
}

#navLogo{
  max-width: 7em;
  align-self:auto;
  border-radius: 5em;
}

i{
  font-style: normal;
  font-size: 30;
}

/* .dashboard{
  display:flex;
} */

.column-title{
  background-color: rgb(64, 64, 64);
  color:white;
  text-align: center;
  max-height: 2em;
}

#wishlist{
  border:1.5px solid black;
  max-width: 25%;
}

.list{
  display:flex;
}

#footer-logo{
  max-width: 7em;
  align-self:auto;
  border-radius: 5em;
}